/* this file is assets/css/main.css, made to get styles to actually cascade, like a whole sheet of them ;) */

@font-face {
	font-family: "Ginto Rounded";
	src: url('~/assets/fonts/ABCGintoRoundedVariableVF-Trial.woff2') format('woff2');
	font-weight: 100 900;/* adjust the weight range if necessary – here it's set from 100 to 900 */
	font-display: swap;
}

/* tailwind directives */
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
	body { /* styling <body> here will also reach down to <div>, <p>, <h1> and the others, and <span> */
		@apply font-sans;
	}
	code, pre {
		@apply font-mono text-gray-700;
	}
	a {
		@apply underline text-gray-700;
	}
	p + p {
		@apply mt-1;
	}
}
